.rootCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

.pathStyle {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  font-family: "Sunflower", Helvetica, Arial, sans-serif;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 0 0 20px;
  padding: 0 15px 0 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  overflow-x: hidden;
}
.videoContainer {
  display: flex;
  justify-content: center;
}

.outerBorder {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 252px;
}

.closeButton {
  display: flex;
  justify-content: end;
}

.closeButton button {
  font-size: 1.5em;
}

.paginationPrev {
  background: url(https://images.nasa.gov/images/arrow-left_gray-small..png)
    no-repeat #3f424c 5px 3px;
  float: left;
  margin: 0 10px 0 0;
  border: 1px solid #1c1c1f;
  border-radius: 5px;
  height: 20px;
  padding: 12px;
  width: 20px;
  cursor: pointer;
}

.paginationNext {
  background: url(https://images.nasa.gov/images/arrow-right_gray-small..png)
    no-repeat #3f424c 5px 3px;
  float: left;
  margin: 0 0 0 10px;
  border: 1px solid #1c1c1f;
  border-radius: 5px;
  height: 20px;
  padding: 12px;
  width: 20px;
  cursor: pointer;
}

.paginationText {
  color: #dedede;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.resultsPagination {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  /* display: table; */
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alignCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageRightAlign {
  margin-right: 5px;
}
.pageLeftAlign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.backTop {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  clear: both;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  border: 1px solid #000;
  padding: 12px 15px;
  margin: 15px auto 0;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 1px #000;
  background-color: #373943;
  color: #fff;
  width: 180px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .hdImgStyle {
    max-width: -webkit-fill-available;
  }
}
@media only screen and (min-width: 1024px) {
  .modalContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .hdImgStyle {
    width: 100%;
  }
}

.asideDimensions {
  margin: 10px;
  display: grid;
  justify-content: center;
}

.searchedPage {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.infoText {
  background-color: #40444b;
  color: #fff;
  font-family: "Sunflower", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
}

.rangeSlider {
  padding: 10px 10px;
  z-index: 0;
}

@media only screen and (min-width: 796px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 796px) and (min-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
